<input #num1 type="number">
<select #operation>
  <option>+</option>
  <option>-</option>
  <option>*</option>
  <option>/</option>
</select>
<input #num2 type="number">
<button (click)="onCal(num1.valueAsNumber, operation.value, num2.valueAsNumber)">Submit</button>
<p>Resullts: </p>
<input type="text">
<button (click)="getText()">log</button>


<input #textInfo type="text">
Type Here:
<!--You need to pass a value from the input as an parameter in the ()-->
<button (click)="logMessage(textInfo.value)">LogThis!</button>
