<div class="d-grid gap-2 col-6 mx-auto">
<input class="form-control" #num1 type="number">
<select class="form-select" #operation>
  <option>+</option>
  <option>-</option>
  <option>*</option>
  <option>/</option>
</select>
<input class="form-control" #num2 type="number">
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" (click)="onCal
(num1.valueAsNumber, operation.value, num2.valueAsNumber)">
  Submit</button>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
<span class="input-group-text">
  <p>Results: <b>{{results}}</b></p>
</span>
</div>
